@import "tailwindcss";

/* Layout base */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* Fondo de partículas */
canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;             /* fondo verdadero */
  pointer-events: none;    /* no bloquea clics */
}

/* Fondo personalizado opcional */
.custom-gradient {
  background: linear-gradient(
    to bottom right,
    oklch(18% 0.07 250),
    oklch(38% 0.09 270),
    oklch(38% 0.12 305)
  );
}

/* Scroll personalizado (Chrome, Edge, Brave) */
body::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 10px;
}

/* Scroll para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f97316 transparent;
}
